xml/schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="mailbox">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="message" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:all>
						<xs:element name="from" type="xs:string"/>
						<xs:element name="to" type="xs:string"/>
						<xs:element name="subject" type="xs:string"/>
						<xs:element name="text" type="xs:string"/>
					</xs:all>
					<xs:attribute name="date" type="xs:date" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>
